<EditForm Model="@vehicleSeater" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Number of Seats: </label>
        <div>
            <InputNumber @bind-Value="@vehicleSeater.SeaterNumber" class="form-control" />
            <ValidationMessage For="@(() => vehicleSeater.SeaterNumber)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public VehicleSeater vehicleSeater { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
