@page "/VehicleBrands/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Vehicle Brand</h3>
<hr />
<br />

<FormComponent ButtonText="Create Brand" brand="brand" OnValidSubmit="@CreateVehicleBrand" />

@code { VehicleBrand vehicleBrand = new VehicleBrand();

    private async Task CreateVehicleBrand()
    {
        await _client.PostAsJsonAsync(Endpoints.VehicleBrandsEndpoint, vehicleBrand);
        _navManager.NavigateTo("/vehicleBrand/");
    } }