@page "/book"

<head>
    <title>Book</title>
    <link href="css/Book.css" rel="stylesheet" />
</head>
<body>
    <div class="heading-h1 ">
        <h1>
            Make a booking
        </h1>
    </div>
    <a href="Car"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048315.png" alt="img1"></a>
    <a href="Van"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048321.png" alt="img2"></a>
    <a href="Coach"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048333.png" alt="img3"></a>
    <NavLink class="nav-link" href="Car">
        <div class="car-label ">
            <button type="submit">Car</button>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="Van">
        <div class="van-label">
            <button type="submit">Van</button>
        </div>
    </NavLink>
    <NavLink class="nav-link" href="Coach">
        <div class="coach-label ">
            <button type="submit">Coach</button>
        </div>
    </NavLink>
</body>
