@page "/Car"

    <head>
        <title>Car</title>
        <link href="css/Car.css" rel="stylesheet" />
    </head>
    <body>
        <div class="input">

            <form action="">
                <h1>
                    <label for="cars">Vehicle types ?</label><br>
                    <select name="cars" id="cars">
                        <option value="volvo">4 Seater</option>
                        <option value="saab">6 Seater </option>
                        <option value="opel">Premium 4 Seater</option>
                        <option value="audi">Premium 6 Seater</option>
                    </select>
                </h1>
            </form><hr>

            <form action="">
                <h1>Date ?</h1>
                <h3>
                    <br><input type="date" id="date" name="date">
                    <br>start:
                    <input type="time" id="start" name="start" min="00:00" max="24:00">
                    <br>end:
                    <input type="time" id="end" name="end" min="00:00" max="24:00">
                </h3>
            </form><hr>

            <form action="">
                <h1>
                    <label for="add">Special ride ?</label><br>
                    <select name="add" id="add">
                        <option value="Ni">Nil</option>
                        <option value="Baby">Baby</option>
                        <option value="Pet">Pet </option>
                        <option value="Handicap">Handicap</option>
                    </select>
                </h1>
            </form><hr>
            <button type="submit" value="Submit"> Checkout</button>
        </div>
    </body>
