@page "/OurVehicle"


<head>
    <title>Our Vehicles</title>
    <link href="css/OurVehicles.css" rel="stylesheet" />
</head>
<body>
    <div class="heading-h1 ">
        <h1>
            Our Vehicles
        </h1>
    </div>
    <div class=car>
        <a href="Car"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048315.png" alt="img1"></a>
        <div class="car-label ">
            We offer a variety of 4/6 seater cars, from all types of brands at the most afforable rates.
            Roll in style with high-end and executive rides for business or special occasions or keep your little ones strapped in, with safety seats for children aged 1–7.
        </div>
    </div>
    <div class=van>
        <a href="Van"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048321.png" alt="img2"></a>
        <div class="van-label ">
            Our vans seat from 9 to 15 passengers, suitable for transporting as a group anywhere and everywhere. All at the most afforable rates in Singapore.
        </div>
    </div>
    <div class=coach>
        <a href="Coach"><img src="https://cdn-icons-png.flaticon.com/512/1048/1048333.png" alt="img3"></a>
        <div class="coach-label ">
            The coaches that we offer can seat up to 50, with reclining seats, luggage spaces and leg spaces for all. Travel as a group without compromising comfort.
        </div>
    </div>
</body>

