@page "/Bookings/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>Create Create New Bookings</h3>
<hr />
<br />
<FormComponent ButtonText="Create Booking" booking="booking" OnValidSubmit="@CreateBooking" />

@code {
    Booking booking = new Booking();
    private List<Customer> Customers;
    private List<Staff> Staffs;
    private List<Vehicle> Vehicles;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        Vehicles = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.VehiclesEndpoint}");
    }

    private async Task CreateBooking()
    {
        await _client.PostAsJsonAsync(Endpoints.BookingsEndpoint, booking);
        _navManager.NavigateTo("/Booking/");
    }
}