@page "/Types/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3>View</h3>
<FormComponent type="type" Disabled="true" />
@code {
    [Parameter] public int id { get; set; }
    VehicleType type = new VehicleType();
    protected async override Task OnParametersSetAsync()
    {
        type = await
        _client.GetFromJsonAsync<VehicleType>($"{Endpoints.VehicleTypesEndpoint}/{id}");
    }
}